body {
  background-color: #E1E2E1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 375px;
}

.topBar{
  background-color: #144242;
  overflow: hidden;
  height: fit-content;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  display: flex ;
  align-items: center;
  justify-content: space-between;
  
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.logo{
  float: left;
  display: flex ;
  align-items: center;
  text-decoration: none;
  height: max-content;
}

.logo img{
  height: 50px;
  padding-right: 10px;
}

.logo span{
  color: white;
  font-weight: 700;
}

.menu{
  float: right;
  text-align: center;
  height: max-content;
}

.menu a{
  float: left;
  color: white;
  text-align: center;
  padding: 30px 2vw;
  text-decoration: none;
}

.menu a:hover{
  background-color: #6e9b9b;
}

.menu a.active{
  background-color: #416d6d;
}

.statusBar{
  background-color: #6e9b9b;
  overflow: hidden;
  height: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  float: right;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.card{
  background-color: white;
  margin: 30px;
  margin-top: 50px;
  padding:30px;
  width: calc(100% - 80px);
  max-width: 800px;

  margin-left: auto;
  margin-right: auto;

  overflow: hidden;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card h1{
  text-align: center;
}

.card h3{
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

.card img{
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;   
}

.card-login {
  max-width: 300px;
}


footer{
  background-color: #144242;
  color: white;
  position:fixed;
  padding: 5px;
  padding-left: 10px;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;

  display: flex ;
  align-items: center;
  justify-content: space-between;
}

.author{
  padding-right: 20px;
  color: white; 
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn{
  border-width: 0;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #416d6d;
  color: #ecf0f1;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.textinput {
  padding:10px 10px 10px 5px;
  border:none;
  border-bottom:1px solid #757575;
  margin-right: 10px;
  text-align: left;

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar {
  position:relative; display:block; width:300px;
}

.notif {
  position: fixed;
  left: 20px;
  bottom: -50px;
  background-color: #40241a;
  padding: 12px 24px 17px 24px;
  vertical-align: middle;
  color: #fff;
  box-shadow: 0 7px 18px rgba(0,0,0,0.2);
  border-radius: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.peek {
  -webkit-animation: peek 5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: peek 15s forwards;
  animation-delay: 500ms;
}

.show {
  -webkit-animation: show 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: show 0.5s forwards;
  animation-delay: 500ms;
}

.notif:empty{
  display: none;
}

@-webkit-keyframes peek {
      0% { bottom: -50px; }
     10% { bottom: 80px; }  /*demo purposes; change to 20px*/
     90% { bottom: 80px; }  /*demo purposes; change to 20px*/
    100% { bottom: -50px; }
}

@keyframes peek {
      0% { bottom: -50px; }
     10% { bottom: 80px; }  /*demo purposes; change to 20px*/
     90% { bottom: 80px; }  /*demo purposes; change to 20px*/
    100% { bottom: -50px; }
}


@-webkit-keyframes show {
    100% { bottom: 20px; }
}

@keyframes show {
    100% { bottom: 20px; }
} 