body {
  background-color: #E1E2E1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 375px;
}

.topBar{
  background-color: #144242;
  overflow: hidden;
  height: fit-content;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  display: flex ;
  align-items: center;
  justify-content: space-between;
  
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.logo{
  float: left;
  display: flex ;
  align-items: center;
  text-decoration: none;
  height: max-content;
}

.logo img{
  height: 50px;
  padding-right: 10px;
}

.logo span{
  color: white;
  font-weight: 700;
}

.menu{
  float: right;
  text-align: center;
  height: max-content;
}

.menu a{
  float: left;
  color: white;
  text-align: center;
  padding: 30px 2vw;
  text-decoration: none;
}

.menu a:hover{
  background-color: #6e9b9b;
}

.menu a.active{
  background-color: #416d6d;
}

.statusBar{
  background-color: #6e9b9b;
  overflow: hidden;
  height: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  float: right;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.card{
  background-color: white;
  margin: 30px;
  margin-top: 50px;
  padding:30px;
  width: calc(100% - 80px);
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;

  overflow: hidden;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card h1{
  text-align: center;
}

.card h2{
}

.card h3{
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

.card img{
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;   
}


footer{
  background-color: #144242;
  color: white;
  position:fixed;
  padding: 5px;
  padding-left: 10px;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;

  display: flex ;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rg
}

.author{
  padding-right: 20px;
  color: white;
  text-decoration: none;
}